In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Airbnb_Open_Data.csv")
data.shape

C:\Users\Pratham Shrivastava\AppData\Local\Temp\ipykernel_18276\3445215148.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Airbnb_Open_Data.csv")

(102599, 26)

In [3]:
data.head(5)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [4]:
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [6]:
data['license'].unique()

array([nan, '41662/AL'], dtype=object)

In [7]:
data['license'].value_counts()

license
41662/AL    2
Name: count, dtype: int64

__Cannot use drop na as license field just have 2 values and all rest values are nan so we can't use dropna__

In [8]:
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [9]:
columns_to_drop = ['id','reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license']
columns_to_keep = ['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review']

In [10]:
len(columns_to_keep)

19

In [11]:
len(columns_to_drop)

7

# Steps that we are following
1. Deleting redundant columns
2. Renaminig the columns
3. Dropping duplicates
4. Cleaning individual columns
5. Remove the NaN values
6. Check for some more transformations

# 1st method, filtering data

In [12]:
data[columns_to_keep]

,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,US,False,flexible,Private room,2003.0,$844,$169,1.0,0.0,NaN
102595,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,US,True,moderate,Private room,2016.0,$837,$167,1.0,1.0,7/6/2015
102596,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,US,True,moderate,Private room,2009.0,$988,$198,3.0,0.0,NaN
102597,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,US,True,strict,Entire home/apt,2015.0,$546,$109,2.0,5.0,10/11/2015
102598,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,US,False,flexible,Entire home/apt,2010.0,"$1,032",$206,1.0,0.0,NaN

In [13]:
data.shape

(102599, 26)

In [14]:
df = data[columns_to_keep]

In [15]:
df.shape

(102599, 19)

# 2nd method, Dropping columns

In [16]:
data

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [17]:
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [18]:
data.drop(columns = ['license'], inplace = True)

In [19]:
data.shape

(102599, 25)

In [20]:
columns_to_drop = ['reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules']

In [21]:
data = data.drop(columns = columns_to_drop)

In [22]:
data.shape

(102599, 20)

In [23]:
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review'],
      dtype='object')

In [24]:
data.drop(columns = ['id'], inplace = True)
data.shape

(102599, 19)

In [25]:
data.columns

Index(['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review'],
      dtype='object')

# Renaming the columns

In [26]:
data.rename(columns = {"NAME":"name","host id":"host_id","host name":"host_name","neighbourhood group":"neighbourhood_group","country code":"country_code","room type":"room_type","Construction year":"construction_year","service fee":"service_fee","minimum nights":"minimum_nights","number of reviews":"number_of_reviews","last review":"last_review"}, inplace = True)
data.columns

Index(['name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review'],
      dtype='object')

In [27]:
new_column_names = []
for i in data.columns:
    new_column_names.append(i.lower())

In [28]:
data.columns = new_column_names

In [29]:
data.columns

Index(['name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review'],
      dtype='object')

# 3. checking for duplicates

In [30]:
data.duplicated().value_counts()

False    102058
True        541
Name: count, dtype: int64

In [31]:
data.drop_duplicates(inplace=True)

In [32]:
data.duplicated().sum()

0

In [33]:
data.shape

(102058, 19)

# 4. Remove NaN values

In [34]:
data.isna().sum()

name                        250
host_id                       0
host_identity_verified      289
host_name                   404
neighbourhood_group          29
neighbourhood                16
lat                           8
long                          8
country                     532
country_code                131
instant_bookable            105
cancellation_policy          76
room_type                     0
construction_year           214
price                       247
service_fee                 273
minimum_nights              400
number_of_reviews           183
last_review               15832
dtype: int64

In [35]:
data.drop(columns = ['last_review'], inplace = True)
data.shape

(102058, 18)

In [36]:
data.isna().sum()

name                      250
host_id                     0
host_identity_verified    289
host_name                 404
neighbourhood_group        29
neighbourhood              16
lat                         8
long                        8
country                   532
country_code              131
instant_bookable          105
cancellation_policy        76
room_type                   0
construction_year         214
price                     247
service_fee               273
minimum_nights            400
number_of_reviews         183
dtype: int64

In [37]:
data.dropna(inplace = True)

In [38]:
data.shape

(99342, 18)

In [39]:
data.isna().sum()

name                      0
host_id                   0
host_identity_verified    0
host_name                 0
neighbourhood_group       0
neighbourhood             0
lat                       0
long                      0
country                   0
country_code              0
instant_bookable          0
cancellation_policy       0
room_type                 0
construction_year         0
price                     0
service_fee               0
minimum_nights            0
number_of_reviews         0
dtype: int64

# 5. cleaning individual columns

In [40]:
data

,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0
5,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0
7,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2009.0,"$1,060",$212,45.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102029,Cozy room in a 2B with backyard access,5155155913,unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,False,flexible,Private room,2018.0,$822,$164,1.0,9.0
102030,An East Williamsburg Delight,71564706996,verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,True,moderate,Private room,2015.0,$455,$91,4.0,36.0
102031,Cozy bedroom in williamsburg,83101851929,verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,True,flexible,Private room,2020.0,"$1,078",$216,1.0,58.0
102032,Spacious Room w/ 2 Bed,69037598918,unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,False,moderate,Private room,2007.0,$103,$21,7.0,40.0
102040,"Room in Queens, NY, near LGA.",56457739998,verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,True,strict,Private room,2022.0,$982,$196,1.0,239.0

In [41]:
data['host_identity_verified'] = data['host_identity_verified'].str.upper()

In [42]:
data['host_identity_verified']

0         UNCONFIRMED
1            VERIFIED
4            VERIFIED
5            VERIFIED
7         UNCONFIRMED
             ...
102029    UNCONFIRMED
102030       VERIFIED
102031       VERIFIED
102032    UNCONFIRMED
102040       VERIFIED
Name: host_identity_verified, Length: 99342, dtype: object

In [43]:
data['instant_bookable'] = data['instant_bookable'].apply(lambda x: 1 if x == True else 0)

In [44]:
data['instant_bookable'].value_counts()

instant_bookable
0    49878
1    49464
Name: count, dtype: int64

In [45]:
data.reset_index(inplace = True)
data['instant_bookable'][15]

1

In [46]:
data.isna().sum()

index                     0
name                      0
host_id                   0
host_identity_verified    0
host_name                 0
neighbourhood_group       0
neighbourhood             0
lat                       0
long                      0
country                   0
country_code              0
instant_bookable          0
cancellation_policy       0
room_type                 0
construction_year         0
price                     0
service_fee               0
minimum_nights            0
number_of_reviews         0
dtype: int64

In [47]:
data.isnull().sum()

index                     0
name                      0
host_id                   0
host_identity_verified    0
host_name                 0
neighbourhood_group       0
neighbourhood             0
lat                       0
long                      0
country                   0
country_code              0
instant_bookable          0
cancellation_policy       0
room_type                 0
construction_year         0
price                     0
service_fee               0
minimum_nights            0
number_of_reviews         0
dtype: int64

# 6. Some more transformation

In [48]:
type(data['price'][15])

str

In [49]:
data['price'] = data['price'].str.replace("$","")

In [50]:
type(data['price'][15])

str

In [51]:
data['price'] = data['price'].str.replace(",","")

In [52]:
type(data['price'][15])

str

In [53]:
data['price'] = data['price'].str.replace(" ","")

In [54]:
data['price'][15]

'1020'

In [55]:
data['price'] = data['price'].astype('Int64')

In [56]:
type(data['price'][11])

numpy.int64

In [57]:
data['service_fee'] = data['service_fee'].str.replace("$","")

In [72]:
data

,index,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews
0,0,Clean & quiet apt home by the park,80014485718,1,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,2,2,2020,966,193,10,9
1,1,Skylit Midtown Castle,52335172823,2,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,1,1,2007,142,28,30,45
2,4,Entire Apt: Spacious Studio/Loft by central park,92037596077,2,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,1,1,2009,204,41,10,9
3,5,Large Cozy 1 BR Apartment In Midtown East,45498551794,2,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,3,1,2013,577,115,3,74
4,7,BlissArtsSpace!,90821839709,1,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,1,2,2009,1060,212,45,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99337,102029,Cozy room in a 2B with backyard access,5155155913,1,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,0,3,2,2018,822,164,1,9
99338,102030,An East Williamsburg Delight,71564706996,2,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,1,1,2,2015,455,91,4,36
99339,102031,Cozy bedroom in williamsburg,83101851929,2,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,1,3,2,2020,1078,216,1,58
99340,102032,Spacious Room w/ 2 Bed,69037598918,1,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,0,1,2,2007,103,21,7,40
99341,102040,"Room in Queens, NY, near LGA.",56457739998,2,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,1,2,2,2022,982,196,1,239

In [59]:
type(data['minimum_nights'][1])

numpy.float64

In [60]:
data['minimum_nights'] = data['minimum_nights'].astype('Int64')

In [61]:
data['number_of_reviews'] = data['number_of_reviews'].astype('int64')

In [62]:
data['construction_year'] = data['construction_year'].astype('int64')

In [63]:
data['room_type'].value_counts()

room_type
Entire home/apt    52054
Private room       45022
Shared room         2158
Hotel room           108
Name: count, dtype: int64

__Dictionary for room type__
1. Entire home/apt  - 1
2. Private room     - 2
3. Shared room      - 3
4. Hotel room       - 4

In [64]:
data['room_type'] = data['room_type'].apply(lambda x : 1 if x == "Entire home/apt" else 2 if x == "Private room" else 3 if x == "Shared room"  else 4 if x == "Hotel room" else 0)

In [65]:
data['cancellation_policy'].value_counts()

cancellation_policy
moderate    33276
strict      33075
flexible    32991
Name: count, dtype: int64

__Dictionary for contract policy__
1. moderate  - 1
2. strict    - 2
3. flexible  - 3

In [66]:
#data['cancellation_policy'] = data['cancellation_policy'].replace("moderate",1)

In [67]:
type(data['cancellation_policy'][1])

str

In [68]:
data['cancellation_policy'] = data['cancellation_policy'].apply(lambda x : 2 if x == "strict" else 3 if x == "flexible" else 1 if x == "moderate" else 0)

In [70]:
data['host_identity_verified'].value_counts()

host_identity_verified
UNCONFIRMED    49707
VERIFIED       49635
Name: count, dtype: int64

__Dictionary for host_identity_verifies__
1. Unconfirmed    -1
2. verified       -2

In [71]:
data['host_identity_verified'] = data['host_identity_verified'].apply(lambda x: 1 if x == "UNCONFIRMED" else 2 if x == "VERIFIED" else 0)

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99342 entries, 0 to 99341
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   99342 non-null  int64
 1   name                    99342 non-null  object
 2   host_id                 99342 non-null  int64
 3   host_identity_verified  99342 non-null  int64
 4   host_name               99342 non-null  object
 5   neighbourhood_group     99342 non-null  object
 6   neighbourhood           99342 non-null  object
 7   lat                     99342 non-null  float64
 8   long                    99342 non-null  float64
 9   country                 99342 non-null  object
 10  country_code            99342 non-null  object
 11  instant_bookable        99342 non-null  int64
 12  cancellation_policy     99342 non-null  int64
 13  room_type               99342 non-null  int64
 14  construction_year       99342 non-null  int64
 15  price                   99342 non-null  Int64
 16  service_fee             99342 non-null  Int64
 17  minimum_nights          99342 non-null  Int64
 18  number_of_reviews       99342 non-null  int64
dtypes: Int64(3), float64(2), int64(8), object(6)
memory usage: 14.7+ MB

In [75]:
data['service_fee'] = data['service_fee'].astype('Int64')

In [81]:
data.drop(columns = ['index'], inplace = True)

In [82]:
data

,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews
0,Clean & quiet apt home by the park,80014485718,1,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,2,2,2020,966,193,10,9
1,Skylit Midtown Castle,52335172823,2,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,1,1,2007,142,28,30,45
2,Entire Apt: Spacious Studio/Loft by central park,92037596077,2,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,1,1,2009,204,41,10,9
3,Large Cozy 1 BR Apartment In Midtown East,45498551794,2,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,3,1,2013,577,115,3,74
4,BlissArtsSpace!,90821839709,1,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,1,2,2009,1060,212,45,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99337,Cozy room in a 2B with backyard access,5155155913,1,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,0,3,2,2018,822,164,1,9
99338,An East Williamsburg Delight,71564706996,2,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,1,1,2,2015,455,91,4,36
99339,Cozy bedroom in williamsburg,83101851929,2,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,1,3,2,2020,1078,216,1,58
99340,Spacious Room w/ 2 Bed,69037598918,1,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,0,1,2,2007,103,21,7,40
99341,"Room in Queens, NY, near LGA.",56457739998,2,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,1,2,2,2022,982,196,1,239

In [86]:
data.to_csv("Cleaned_Airbnb_Open_Data.csv", index= False)

In [87]:
cleaned_data = pd.read_csv("Cleaned_Airbnb_Open_Data.csv")
cleaned_data

,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,country,country_code,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,number_of_reviews
0,Clean & quiet apt home by the park,80014485718,1,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,2,2,2020,966,193,10,9
1,Skylit Midtown Castle,52335172823,2,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,1,1,2007,142,28,30,45
2,Entire Apt: Spacious Studio/Loft by central park,92037596077,2,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,1,1,2009,204,41,10,9
3,Large Cozy 1 BR Apartment In Midtown East,45498551794,2,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,3,1,2013,577,115,3,74
4,BlissArtsSpace!,90821839709,1,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,1,2,2009,1060,212,45,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99337,Cozy room in a 2B with backyard access,5155155913,1,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,0,3,2,2018,822,164,1,9
99338,An East Williamsburg Delight,71564706996,2,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,1,1,2,2015,455,91,4,36
99339,Cozy bedroom in williamsburg,83101851929,2,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,1,3,2,2020,1078,216,1,58
99340,Spacious Room w/ 2 Bed,69037598918,1,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,0,1,2,2007,103,21,7,40
99341,"Room in Queens, NY, near LGA.",56457739998,2,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,1,2,2,2022,982,196,1,239

In [91]:
data.to_excel("Excel_Cleaned_Airbnb_Open_data.xlsx",index=False)

In [92]:
data_excel =  pd.read_excel("Excel_Cleaned_Airbnb_Open_data.xlsx")